* {
  font-family: "Nunito Sans", sans-serif; }

header {
  margin: 0 auto;
  padding: 1px;
  width: 100%;
  height: 88px;
  background-color: black; }

.row {
  margin: 0 auto; }

.warning {
  padding: 0;
  margin: 0; }

.wrapper {
  margin: 27px 0 0 104px;
  color: white;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px; }

.subwrapper ul {
  margin-top: 33px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right; }
  .subwrapper ul li {
    margin-left: 48px; }
    .subwrapper ul li a {
      text-decoration: none;
      color: #8D8D8D;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px; }
      .subwrapper ul li a:hover {
        color: white; }

.register {
  margin: 24px 88px 24px 48px;
  border: 1px solid #E4E4E4;
  text-align: center; }
  .register a {
    text-align: center;
    margin: 9px 20px;
    display: block;
    text-decoration: none;
    color: #E4E4E4;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600; }

.promo {
  padding: 18px 0 0 92px;
  height: 2141px;
  background: url("../img/bg.jpg"); }
  .promo_text {
    color: #E4E4E4;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; }
  .promo_firsttext {
    display: block;
    margin: 90px 0 10px 0;
    width: 101px;
    color: #E4E4E4;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px; }
  .promo_subtext {
    width: 150px;
    padding: 0 0 0 0; }
    .promo_subtext_category {
      list-style: none; }
    .promo_subtext_link {
      text-decoration: none;
      color: #8D8D8D;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px; }
      .promo_subtext_link:hover {
        color: #E4E4E4; }
    .promo_subtext ul {
      width: 150px;
      padding: 0 0 0 0; }
    .promo_subtext li {
      margin-top: 24px; }

.promo_article {
  margin-top: 112px;
  color: #E4E4E4;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px; }

.promo_secondarticle ul {
  margin-top: 33px;
  list-style: none;
  padding: 0 0 0 0; }
.promo_secondarticle li {
  padding: 55px 0 66px 31px;
  width: 1023px;
  height: 366px;
  border: 1px solid #605D5D; }

.promo_secondarticle1 {
  width: 1000px;
  height: 245px;
  background: url("../img/article/article1.jpg") no-repeat; }
  .promo_secondarticle1_text {
    padding: 0 0 0 500px;
    color: #E4E4E4;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px; }
  .promo_secondarticle1_firsttext {
    padding: 8px 0 0 500px;
    color: #7D7D7D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; }
  .promo_secondarticle1_secondtext {
    color: #E0E0E0;
    padding: 16px 0 0 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; }

.promo_secondarticle2 {
  width: 1000px;
  height: 245px;
  background: url("../img/article/article2.jpg") no-repeat; }

.promo_secondarticle3 {
  width: 1000px;
  height: 245px;
  background: url("../img/article/article3.jpg") no-repeat; }

.promo_secondarticle4 {
  width: 1000px;
  height: 245px;
  background: url("../img/article/article4.jpg") no-repeat; }

.promo_secondarticle5 {
  width: 1000px;
  height: 245px;
  background: url("../img/article/article5.jpg") no-repeat; }

/*# sourceMappingURL=style-article.css.map */